language: clojure
lein: lein2
install: (cd cloverage && lein2 deps) && (cd lein-cloverage && lein2 deps)
script: (cd cloverage && lein2 test) && (cd lein-cloverage && lein2 test)
sudo: false

jdk:
  - oraclejdk7
  - openjdk7
  - openjdk6

after_success:
  - bash deploy.sh
