{:deps {cloverage/cloverage {:local/root "."}}
 :tasks
 {test:bb {:doc "Run bb tests"
           :extra-paths ["test" "test-resources" "dev-resources" "sample"]
           :extra-deps {io.github.cognitect-labs/test-runner
                        {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
           :requires ([cognitect.test-runner :as tr])
           :task (apply tr/-main
                        "-d" "test"
                        *command-line-args*)}}}
