.covered {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
    background-color: #558B55;
}

.not-covered {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
    background-color: red;
}

.partial {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
    background-color: orange;
}

.not-tracked {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
}

.blank {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
}
