.covered {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
}

.not-covered {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
    background-color: red;
}

.blank {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
}