.covered {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
}

.not-covered {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
    background-color: red;
}

.not-tracked {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
    background-color: orange;
}


.blank {
    font-family:  'Bitstream Vera Sans Mono', 'Courier', monospace;
}
